extends layout.pug

block content

    -var news = [{img: 'images/sliderimg.png', date: '14 თებერვალი, 2018', title: 'შეხვედრა მუნიციპალიტეტის წარმომადგენლებთან', desc: '3 აპრილს საქართველოს განათლებისა და მეცნიერების სამინისტროს სსიპ "ბავშვთა და ახალგაზრდობის ეროვნულ ცენტრსა" და საქართველოს პრემიერ-მინისტრის. შეხვედრა მუნიციპალიტეტის წარმომადგენლებთან\', desc: \'3 აპრილს საქართველოს განათლებისა და მეცნიერების სამინისტროს სსიპ "ბავშვთა და ახალგაზრდობის ეროვნულ ცენტრსა" და საქართველოს პრემიერ-მინისტრის.'},{img: 'images/sliderimg.png', date: '14 თებერვალი, 2018', title: 'შეხვედრა მუნიციპალიტეტის წარმომადგენლებთან', desc: '3 აპრილს საქართველოს განათლებისა და მეცნიერების სამინისტროს სსიპ "ბავშვთა და ახალგაზრდობის ეროვნულ ცენტრსა" და საქართველოს პრემიერ-მინისტრის. შეხვედრა მუნიციპალიტეტის წარმომადგენლებთან\', desc: \'3 აპრილს საქართველოს განათლებისა და მეცნიერების სამინისტროს სსიპ "ბავშვთა და ახალგაზრდობის ეროვნულ ცენტრსა" და საქართველოს პრემიერ-მინისტრის.'},{img: 'images/sliderimg.png', date: '14 თებერვალი, 2018', title: 'შეხვედრა მუნიციპალიტეტის წარმომადგენლებთან', desc: '3 აპრილს საქართველოს განათლებისა და მეცნიერების სამინისტროს სსიპ "ბავშვთა და ახალგაზრდობის ეროვნულ ცენტრსა" და საქართველოს პრემიერ-მინისტრის. შეხვედრა მუნიციპალიტეტის წარმომადგენლებთან\', desc: \'3 აპრილს საქართველოს განათლებისა და მეცნიერების სამინისტროს სსიპ "ბავშვთა და ახალგაზრდობის ეროვნულ ცენტრსა" და საქართველოს პრემიერ-მინისტრის.'},{img: 'images/sliderimg.png', date: '14 თებერვალი, 2018', title: 'შეხვედრა მუნიციპალიტეტის წარმომადგენლებთან', desc: '3 აპრილს საქართველოს განათლებისა და მეცნიერების სამინისტროს სსიპ "ბავშვთა და ახალგაზრდობის ეროვნულ ცენტრსა" და საქართველოს პრემიერ-მინისტრის. შეხვედრა მუნიციპალიტეტის წარმომადგენლებთან\', desc: \'3 აპრილს საქართველოს განათლებისა და მეცნიერების სამინისტროს სსიპ "ბავშვთა და ახალგაზრდობის ეროვნულ ცენტრსა" და საქართველოს პრემიერ-მინისტრის.'}]

        .owl-carousel.owl-theme#mainCarousel
            each item in news
                .item(style="background-image: url('"+ item.img +"')")
                    .wrapper
                        article
                            time <img src="images/calendar.png"> #{item.date}
                            h2=item.title
                            div.desc=item.desc
                            a(href="") <img src="images/slidermore.png"> ვრცლად
        section.news
            .wrapper
                header
                    h2 სიახლეები
                    a(href="")
                        img(src="images/newsarchive.png")
                        |არქივი
                .content
                    each item in news
                        article
                            .pic(style="background-image: url('"+ item.img +"')")
                            time <img src="images/calendar2.png"> #{item.date}
                            h2=item.title
                            div.desc #{item.desc.substr(200)}..
                            a(href="") <img src="images/more2.png"> ვრცლად
        section.camps
            -var camps = [{name: 'ანაკლია'},{name: 'ანაკლია'},{name: 'ანაკლია'},{name: 'ანაკლია'},{name: 'ანაკლია'},{name: 'ანაკლია'}]
            .wrapper
                header
                    h2 <img src=""> ბანაკები
                .cont
                    each item, index in camps
                        a()
                            span='0' + (index+1)
                            | #{item.name}
        section.programs
            -var programs = [{name: 'გამაჯანსაღებელი დარბაზი'},{name: 'სპორტული წრეები'},{name: 'CYNC თავისუფალი სივრცე'},{name: 'სახელობითი წრეები'},{name: 'სპორტი ბარიერის გარეშე'}]
            .wrapper
                header
                    h2 <img src=""> პროგრამები
                .cont
                    each item in programs
                        a()=item.name
                a.more <img src=""> მეტი