extends layout.pug

block content

    -var news = [{img: '', date: '14 თებერვალი, 2018', title: 'შეხვედრა მუნიციპალიტეტის წარმომადგენლებთან', desc: '3 აპრილს საქართველოს განათლებისა და მეცნიერების სამინისტროს სსიპ "ბავშვთა და ახალგაზრდობის ეროვნულ ცენტრსა" და საქართველოს პრემიერ-მინისტრის. შეხვედრა მუნიციპალიტეტის წარმომადგენლებთან\', desc: \'3 აპრილს საქართველოს განათლებისა და მეცნიერების სამინისტროს სსიპ "ბავშვთა და ახალგაზრდობის ეროვნულ ცენტრსა" და საქართველოს პრემიერ-მინისტრის.'},{img: '', date: '14 თებერვალი, 2018', title: 'შეხვედრა მუნიციპალიტეტის წარმომადგენლებთან', desc: '3 აპრილს საქართველოს განათლებისა და მეცნიერების სამინისტროს სსიპ "ბავშვთა და ახალგაზრდობის ეროვნულ ცენტრსა" და საქართველოს პრემიერ-მინისტრის. შეხვედრა მუნიციპალიტეტის წარმომადგენლებთან\', desc: \'3 აპრილს საქართველოს განათლებისა და მეცნიერების სამინისტროს სსიპ "ბავშვთა და ახალგაზრდობის ეროვნულ ცენტრსა" და საქართველოს პრემიერ-მინისტრის.'},{img: '', date: '14 თებერვალი, 2018', title: 'შეხვედრა მუნიციპალიტეტის წარმომადგენლებთან', desc: '3 აპრილს საქართველოს განათლებისა და მეცნიერების სამინისტროს სსიპ "ბავშვთა და ახალგაზრდობის ეროვნულ ცენტრსა" და საქართველოს პრემიერ-მინისტრის. შეხვედრა მუნიციპალიტეტის წარმომადგენლებთან\', desc: \'3 აპრილს საქართველოს განათლებისა და მეცნიერების სამინისტროს სსიპ "ბავშვთა და ახალგაზრდობის ეროვნულ ცენტრსა" და საქართველოს პრემიერ-მინისტრის.'},{img: '', date: '14 თებერვალი, 2018', title: 'შეხვედრა მუნიციპალიტეტის წარმომადგენლებთან', desc: '3 აპრილს საქართველოს განათლებისა და მეცნიერების სამინისტროს სსიპ "ბავშვთა და ახალგაზრდობის ეროვნულ ცენტრსა" და საქართველოს პრემიერ-მინისტრის. შეხვედრა მუნიციპალიტეტის წარმომადგენლებთან\', desc: \'3 აპრილს საქართველოს განათლებისა და მეცნიერების სამინისტროს სსიპ "ბავშვთა და ახალგაზრდობის ეროვნულ ცენტრსა" და საქართველოს პრემიერ-მინისტრის.'}]

        .owl-carousel.owl-theme
            each item in news
                .item(style="background-img: url('"+ item.img +"')")
                    .wrapper
                        article
                            time <img src=""> #{item.date}
                            h2=item.title
                            div.desc=item.desc
                            a(href="") <img src=""> ვრცლად
        section.news
            .wrapper
                header
                    h2 სიახლეები
                    a(href="") არქივი
                .content
                    each item in news
                        article
                            .pic(style="background-img: url('"+ item.img +"')")
                            time <img src=""> #{item.date}
                            h2=item.title
                            div.desc=item.desc
                            a(href="") <img src=""> ვრცლად
        section.camps
            -var camps = [{name: 'ანაკლია'},{name: 'ანაკლია'},{name: 'ანაკლია'},{name: 'ანაკლია'},{name: 'ანაკლია'},{name: 'ანაკლია'}]
            .wrapper
                header
                    h2 <img src=""> ბანაკები
                .cont
                    each item, index in camps
                        a()
                            span='0' + (index+1)
                            | #{item.name}
        section.programs
            -var programs = [{name: 'გამაჯანსაღებელი დარბაზი'},{name: 'სპორტული წრეები'},{name: 'CYNC თავისუფალი სივრცე'},{name: 'სახელობითი წრეები'},{name: 'სპორტი ბარიერის გარეშე'}]
            .wrapper
                header
                    h2 <img src=""> პროგრამები
                .cont
                    each item in programs
                        a()=item.name
                a.more <img src=""> მეტი