extends layout.pug

block content

    -var news = [{img: 'images/sliderimg.png', date: '14 თებერვალი, 2018', title: 'შეხვედრა მუნიციპალიტეტების წარმომადგენლებთან', desc: '3 აპრილს საქართველოს განათლებისა და მეცნიერების სამინისტროს სსიპ "ბავშვთა და ახალგაზრდობის ეროვნულ ცენტრსა" და საქართველოს პრემიერ-მინისტრის. შეხვედრა მუნიციპალიტეტების წარმომადგენლ წარმომადგენლებთან\', desc: \'3 აპრილს საქართველოს განათლებისა და მეცნიერების სამინისტროს სსიპ "ბავშვთა და ახალგაზრდობის ეროვნულ ცენტრსა" და საქართველოს პრემიერ-მინისტრის.'},{img: 'images/sliderimg.png', date: '14 თებერვალი, 2018', title: 'შეხვედრა მუნიციპალიტეტების წარმომადგენლებთან', desc: '3 აპრილს საქართველოს განათლებისა და მეცნიერების სამინისტროს სსიპ "ბავშვთა და ახალგაზრდობის ეროვნულ ცენტრსა" და საქართველოს პრემიერ-მინისტრის. შეხვედრა მუნიციპალიტეტების წარმომადგენლებთან\', desc: \'3 აპრილს საქართველოს განათლებისა და მეცნიერების სამინისტროს სსიპ "ბავშვთა და ახალგაზრდობის ეროვნულ ცენტრსა" და საქართველოს პრემიერ-მინისტრის.'},{img: 'images/sliderimg.png', date: '14 თებერვალი, 2018', title: 'შეხვედრა მუნიციპალიტეტიების წარმომადგენლებთან', desc: '3 აპრილს საქართველოს განათლებისა და მეცნიერების სამინისტროს სსიპ "ბავშვთა და ახალგაზრდობის ეროვნულ ცენტრსა" და საქართველოს პრემიერ-მინისტრის. შეხვედრა მუნიციპალიტეტების წარმომადგენლებთან\', desc: \'3 აპრილს საქართველოს განათლებისა და მეცნიერების სამინისტროს სსიპ "ბავშვთა და ახალგაზრდობის ეროვნულ ცენტრსა" და საქართველოს პრემიერ-მინისტრის.'},{img: 'images/sliderimg.png', date: '14 თებერვალი, 2018', title: 'შეხვედრა მუნიციპალიტეტების წარმომადგენლებთან', desc: '3 აპრილს საქართველოს განათლებისა და მეცნიერების სამინისტროს სსიპ "ბავშვთა და ახალგაზრდობის ეროვნულ ცენტრსა" და საქართველოს პრემიერ-მინისტრის. შეხვედრა მუნიციპალიტეტების წარმომადგენლებთან\', desc: \'3 აპრილს საქართველოს განათლებისა და მეცნიერების სამინისტროს სსიპ "ბავშვთა და ახალგაზრდობის ეროვნულ ცენტრსა" და საქართველოს პრემიერ-მინისტრის.'}]

        .owl-carousel.owl-theme#mainCarousel
            each item in news
                .item(style="background-image: url('"+ item.img +"')")
                    .wrapper
                        article
                            time <img src="images/calendar.png"> #{item.date}
                            h2=item.title
                            div.desc=item.desc
                            a(href="") <img src="images/slidermore.png"> ვრცლად
        section.news
            .wrapper
                header
                    h2 სიახლეები
                    a(href="")
                        img(src="images/newsarchive.png")
                        |არქივი
                .content
                    each item in news
                        article
                            .pic(style="background-image: url('"+ item.img +"')")
                            time <img src="images/calendar2.png"> #{item.date}
                            h2=item.title
                            div.desc #{item.desc.substr(200)}..
                            a(href="") <img src="images/more2.png"> ვრცლად
        section.photovideo
            .wrapper
                .video
                    img(src="https://img.youtube.com/vi/VX0Bu_klgvo/0.jpg" class="thumb")
                    button.play(data-vid="VX0Bu_klgvo") <img src="images/play.png">
                    h3 ანაკლიის „მომავლის ბანაკი” საზეიმოდ დაიხურა
                .playlist
                    ul
                        li(data-vid="VX0Bu_klgvo")
                            img(src="images/playsm.png")
                            time 01 ივნისი, 2018
                            h3 ,,ბავშვთა და ახალგაზრდობის ეროვნულმა ცენტრმა’’ მარნეულიდან სტუმრებს უმასპინძლა
                        li(data-vid="ypQMbgXYOHA")
                            img(src="images/playsm.png")
                            time 01 ივნისი, 2018
                            h3 ,,ბავშვთა და ახალგაზრდობის ეროვნულმა ცენტრმა’’ მარნეულიდან სტუმრებს უმასპინძლა
                        li(data-vid="VX0Bu_klgvo")
                            img(src="images/playsm.png")
                            time 01 ივნისი, 2018
                            h3 ,,ბავშვთა და ახალგაზრდობის ეროვნულმა ცენტრმა’’ მარნეულიდან სტუმრებს უმასპინძლა
                .links
                    a.photo <img src="images/fotogallery.png"> ფოტო გალერეა
                    a.video <img src="images/videogallery.png"> ვიდეო გალერეა
        section.camps
            -var camps = [{name: 'ანაკლია'},{name: 'ანაკლია'},{name: 'ანაკლია'},{name: 'ანაკლია'},{name: 'ანაკლია'},{name: 'ანაკლია'}]
            .wrapper
                header
                    h2 <img src="images/camp.png"> ბანაკები
                .cont
                    each item, index in camps
                        a()
                            span(class="number")='0' + (index+1)
                            span #{item.name}
        section.programs
            -var programs = [{name: 'გამაჯანსაღებელი დარბაზი'},{name: 'სპორტული წრეები'},{name: 'CYNC თავისუფალი სივრცე'},{name: 'სახელობითი წრეები'},{name: 'სპორტი ბარიერის გარეშე'}]
            .wrapper
                header
                    h2 <img src="images/programs.png"> პროგრამები
                .cont
                    each item in programs
                        a()=item.name
                a.more <img src="images/moreprograms.png"> მეტი